@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--red);
  color: white;
  padding: 1rem 4rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__nome {
  font-family: "Handlee", cursive;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.3rem 0 0 0.3rem ;
}

.botao {
  background-color: white;
  color: black;
  padding: 0.8rem 1.6rem;
  border-radius: 2rem;
  transition: 0.3s;
  border: 4px solid var(--red);
}

.botao:hover {
  background-color: #eeeeee;
  border: 4px solid var(--darkRed);
}

.botao span {
  padding-left: 0.5rem;
}