.container {
  margin: 0 auto 1.8rem;
  max-width: 800px;
}

.form {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--red);
  border-radius: 0.3rem;
  padding: 1rem;
}

.form__titulo {
  font-size: 2rem;
  margin-bottom: 0.8rem;
  line-height: 1.2;
}

.form__label {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.form__input {
  margin-bottom: 1rem;
  padding: 0.8rem;
  border: 1px solid var(--lightGray);
  border-radius: 0.2rem;
  outline: 3px solid transparent;
}

.form__input:focus-visible {
  border: 1px solid var(--red);
  outline: 3px solid var(--lightRed);
}

.botaoVoltar {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: white;
  color: var(--red);
  border: 1px solid var(--red);
  border-radius: 0.2rem;
}

.botaoVoltar:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

.botaoPostar {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--red);
  font-weight: bold;
  color: white;
  border: 0;
  border-radius: 0.2rem;
  outline: 3px solid transparent;
}

.botaoPostar:hover {
  cursor: pointer;
  background-color: var(--darkRed);
}

.botaoPostar:focus-visible {
  outline: 3px solid var(--lightRed);
}