@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--red);
  color: white;
  padding: 1em 4em;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__nome {
  font-family: "Handlee", cursive;
  font-size: 2em;
  padding: 0.3em 0 0 0.3em ;
}

.novoPost {
  background-color: white;
  color: black;
  padding: 1em 2em;
  border-radius: 2em;
  transition: 0.3s;
}

.novoPost:hover {
  background-color: #eeeeee;
}

.novoPost span {
  padding-left: 0.5em;
}